.devFlex{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content:center;
}

.sectionFlex{
    width: 30%;
    padding: 10px;
    background: lightgreen;
}

.photo{
    width:70px;
    height:70px;
    border-radius:50%;
} 